{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head_extra %}
    {{form.media}}
{%endblock head_extra %}


{% block style %}
    .wmd-panel{
        margin-left: 0% !important;
        margin-right: 0% !important;
        width: 100% !important;
        min-width: 400px !important;
    }

{% endblock style%}

{% block title %} {{info}} {% endblock %}


{% block content %}
<div class="container mt-2">
    <div class="card">
        <div class="card-header text-center bg-warning text-white">
            <h4>  {{info}} Recipe Post</h4>
        </div>
        <div class="card-body">
            <form action="" method="POST" class="form" enctype="multipart/form-data">
                {% bootstrap_form form %}
                {% csrf_token %}

                <button type="submit" class="btn btn-outline-info">
                    {{info}} Recipe</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}