{% extends 'base.html' %}

{% block title %} {{object.title}} {%endblock %}

{% block content %}
<div class="container mt-2">
    <div class="card">
        <div class="card-header text-center bg-success text-white">
            <h4>{{object.title}}
                <a class="btn btn-sm btn-warning" href="{{object.get_update_url}}">Edit</a>
                <a class="btn btn-sm btn-danger" href="{% url 'posts:post_delete' object.slug %}">Delete</a>
            </h4> 
            
                
           
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {% if object.images %}
                    <img src="{{object.images.url}}" alt="" class="card-img-top">
                    {% else %}
                    <img src="https://image.freepik.com/free-vector/error-404-found-glitch-effect_8024-4.jpg" alt="Nothing" class="card-img-top">
                    {%endif %}
                    
                </div>
                <div class="col-md-6">
                    <p>
                        {{object.content | linebreaks}}
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>


{% endblock %}