{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %} {{object.title}} {%endblock %}

{% block content %}
<div class="container mt-2">
    <div class="card">
        <div class="card-header text-center bg-success text-white">
            <h4>{{object.title}}
                {% if request.user.is_authenticated %}
                <a class="btn btn-sm btn-warning" href="{{object.get_update_url}}">Edit</a>
                <a class="btn btn-sm btn-danger" href="{% url 'posts:post_delete' object.slug %}">Delete</a>
                {% endif %}
            </h4> 
            
                
           
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {% if object.images %}
                    <img src="{{object.images.url}}" alt="" class="card-img-top">
                    {% else %}
                    <img src="https://image.freepik.com/free-vector/error-404-found-glitch-effect_8024-4.jpg" alt="Nothing" class="card-img-top">
                    {%endif %}
                    
                </div>
                <div class="col-md-6">
                    <p>
                        {{object.content | linebreaks}}
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <!-- <p>Added by: {{object.user.username}}</p> -->
            <p class="text-danger">
                {% if today < object.publish %}
                {{object.publish}} Is the date
                {% endif %}

                {% if object.draft %}
                It's A Draft
                {% endif %}
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-warning text-white">
            <h4>Leave a comment here:</h4>
            <!-- {{object.comments}} -->
        </div>
        {% for comment in comments %}
        <div class="card-body">

            <blockquote class="blockquote text-left">
                <p class="mb-0">{{comment.content}}</p>
                <footer class="blockquote-footer">by {{comment.user.username}} <cite title="Source Title">
                    @ {{comment.timestamp|timesince}} ago</cite></footer>
              </blockquote>
           
        </div>
      
        {% endfor %}
        <div class="card-footer">
            <form action="" class="form" method="POST">
                {%csrf_token %}
                {% bootstrap_form comment_form %}
                <input type="submit" value="Comment" class="btn btn-sm btn-outline-success">
            </form>
        </div>
    </div>
</div>


{% endblock %}