{% extends 'base.html' %}

{% block title %} Recipe List {%endblock %}


{% block content %}
<div class="container mt-2">
<div class="row">
    {% for object in object_list %}
    <div class="col-md-8 offset-md-2">
        <div class="card border-info mb-4">
            <div class="card-header bg-info text-center text-white">
                <h4>{{object.title}}</h4>
            </div>
            <div class="card-body">
                <p>
                    {{object.content | linebreaks | truncatewords:10}}
                </p>
            </div>
            <div class="card-footer text-center">
                <p>
                    <a href="{{object.get_absolute_url}}" class="btn btn-outline-success">Read More Details</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}