{% extends 'base.html' %}

{% block title %} Recipe List {%endblock %}


{% block content %}
<div class="container mt-2">
<div class="row">
    {% for object in object_list %}
    <div class="col-md-8 offset-md-2">
        <div class="card border-info mb-4">
            <div class="card-header bg-info text-center text-white">
                <h4>{{object.title}}</h4>
            </div>
            <div class="card-body">
                <p>
                    {{object.content | linebreaks | truncatewords:10}}
                </p>
            </div>
            <div class="card-footer text-center">
                <p>
                    <a href="{{object.get_absolute_url}}" class="btn btn-outline-success">Read More Details</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!--Pagination-->



<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="justify-content: center !important;">
    <div class="btn-group " role="group" aria-label="Second group">
    {% if object_list.has_previous %}
    <a class="btn btn-outline-danger" href="?page={{ object_list.previous_page_number }}">Previous</a>
    {% endif %}

    
      <button type="button" class="btn btn-secondary">Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</button>
     
      {% if object_list.has_next %}
      <a class= "btn btn-outline-danger" href="?page={{ object_list.next_page_number }}">Next</a>
      {% endif %}
    </div>
</div>

<!--End Pagination-->
</div>
{% endblock %}